/* Global styles */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/MPLUSRounded1c-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'M PLUS Rounded 1c', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
